<nav class="p-3 gap-4">
    <a href="/KGprojects/" class="hover:text-xl">Główna</a>
    <br>
    <a href="/KGprojects/home.html" class="hover:text-xl">Zaplanuj wycieczkę</a>
    <br>
    <a href="/KGprojects/ekwipunek.html" class="hover:text-xl">Spakuj się na wycieczkę</a>
    <br>
    <ul class="list-outside ps-6">
        {% for item in site.data.navigationekwipunek %}
        <li class="ps-2"> <a href="{{ item.link }}"class="hover:text-xl" {% if page.url == item.link2 %} style="color: rgb(255, 247, 210);"{% endif %}>
           {{ item.name }}
        </a> </li>
        {% endfor %}
    </ul>
    <br>
    <a href="/KGprojects/galeria.html" class="hover:text-xl">Archiwum wycieczek</a>
    <br>
    <a href="/KGprojects/kontakt.html" class="hover:text-xl">Kontakt</a>
</nav>
