@tailwind base;
@tailwind components;
@tailwind utilities;

pro-tip{
  div{
    display: flex; 
    align-items: center; 
    background-color:rgb(255, 230, 0); 
    padding: 10px
  }
  p {
    color: rgb(75, 70, 70); 
    padding: 8px
  }
  img{
    margin-right: 20px; 
    width: 100px; 
    height: auto
  }
}
/*<span red>*/
/*[red]{}*/

/*main article{
  article które są potomkami main
  }*/
