@import "tailwindcss";


body {
  font-family: Monaco, Monospace;
  margin-left: 20px;
  margin-right: 20px;
  background-color: rgb(243, 226, 198);
  -webkit-font-smoothing: antialiased;
  padding: 0;
  color: RGB(41, 17, 2);
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem; /* global side padding */
}
