@import "tailwindcss";

@font-face {
  font-family: 'Knight';
  src: url('fonts/Kingthings_Petrock.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  --color-base: rgb(243, 226, 198);
  --color-greyBase: rgb(227, 219, 207);
  --color-allmostWhite: rgb(247, 243, 237);
  --color-allmostAllmostWhite: rgb(252, 250, 247);
  --color-brownOrange: rgb(173, 83, 42);
  --color-specialBrown: rgb(51, 10, 7);
  --color-justBrown: rgb(18, 13, 12);
}

@layer base {
  ul {
    list-style-type: disc;
    margin-left: 1rem;
  }
  
  ol {
    list-style-type: decimal;
    margin-left: 1rem;
  }
}
.list-roman {
  list-style-type: upper-roman;
  margin-left: 2rem;
}

body {
  font-family: Monaco, monospace;
  background-color: var(--color-allmostAllmostWhite);
  -webkit-font-smoothing: antialiased;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-attachment: scroll;
  color: var(--color-justBrown);
}

h1, h2, h3 {
  font-family: Knight, sans-serif;
  letter-spacing: 0.05em;
  color: var(--color-specialBrown);
}

.orangeShadow {
  box-shadow: 0px 14px 55px var(--color-brownOrange);
}

.lightShadow {
  position: relative;
  overflow: hidden;
}

.lightShadow p {
  position: relative;
  z-index: 2;
}
  
.lightShadow::after {
    position: absolute;
    content: '';
    background: RGB(173, 83, 42);
    opacity: 0.1;
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    transition-duration: 200ms;
    z-index: 0;
  }

  .lightShadow:hover::after {
    transform: translateX(100%);
  }

  .red-yellow-button {
    color: #111827; /* text-gray-900 */
    background-image: linear-gradient(to right, #78350f, #c49b6c, #B49C90); /* from-red-200 via-red-300 to-yellow-200 */
    font-weight: 500; /* font-medium */
    font-size: 0.875rem; /* text-sm */
    line-height: 1.25rem;
    padding: 0.625rem 1.25rem; /* px-5 py-2.5 */
    margin-right: 0.5rem; /* me-2 */
    margin-bottom: 0.5rem; /* mb-2 */
    text-align: center; /* text-center */
    border: none;
    cursor: pointer;
}

.red-yellow-button:hover {
    background-image: linear-gradient(to left, #c49b6c, #B49C90, #B49C90); /* hover:bg-gradient-to-bl */
    transition-duration: 200ms;
}

.red-yellow-button:focus {
    outline: none; /* focus:outline-none */
    box-shadow: 0 0 0 4px rgba(248, 113, 113, 0.5); /* focus:ring-4 focus:ring-red-100 */
}

.dark .red-yellow-button:focus {
    box-shadow: 0 0 0 4px rgba(248, 113, 113, 0.7); /* dark:focus:ring-red-400 */
}

a {
    color: rgb(165, 104, 0);
}
a:hover {
    color: rgb(251 191 36);
}
a:visited {
  color: rgb(73, 65, 44);
}
a:visited:hover {
  color: rgb(148, 140, 121);
}

