<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="assets/styles.css" />
    
    <style>
        .zadanie {
            margin-bottom: 20px;
        }
        .zadania label {
            display: block;
            margin: 5px 0;
        }
    </style>
    
    <p>{% feed_meta %}</p>
    <p>{% seo %}</p>
  </head>
  <body>
    <header>
      <h1 style="background-color: rgb(255, 255, 255)">{{ page.title }}</h1>
    </header>
    
    <article>
      {{ content }}
      <br/>
    </article>
    
    <footer>
      <h3 style="background-color: rgb(255, 255, 255)">
      Nawigacja: {% include navigation_ekwipunek.html %} żółty= tu jesteś
      </h3>
    </footer>
  </body>
</html>
